* {
    box-sizing: border-box;
}
div {
    font-family: 'Syne', sans-serif;
    font-weight: lighter;
}
div.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer {
    font-family: 'Syne', sans-serif;
    font-weight: lighter;
    margin-top: 20vw;
}
nav {
    padding-top: 3vw;
    margin-bottom: 125px;
}
nav a {
    margin-left: 20px;
    margin-right: 20px;
}
input {
    border: none;
    background-color: darkseagreen;
}
a {
    text-decoration: none;
    color: darkseagreen;
    margin-left: 10px;
    margin-right: 10px;
}

/* MY GREENHOUSE PAGE */
div#plus-button {
    text-align: center;
}
div.my-garden-welcome a{
    font-size: 50px;
    font-weight: 900;
}
ol {
    padding-top: 30px;
}
div.my-plant li:nth-child(1){
    font-size: 30px;
    font-weight: 700;
}
span.my-plant-label {
    font-size: 12px;
    font-variant-caps: all-small-caps;
    color: firebrick;
    font-weight: 100;
}
div.my-garden-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.my-plant {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div.edit-delete {
    margin-top: 20px;
    border:1px solid darkseagreen;
    display: flex;
    align-items: center;
}
div.edit-delete input {
    color: white;
}

/* PLANTS INDEX PAGE */

div.plant-post {
    border:30px solid firebrick;
    background-color: rgb(236, 247, 216);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
div.plant-post-title {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

div.plant-post-title a{
    font-size: 30px;
    font-weight: 700;
}
div.plant-post-title span{

    margin-left: 20px;
}
div.plant-post-specs {
    align-items: stretch;
    display: flex;
    flex-direction: column;
}
div.plant-post-specs div {
    margin-bottom: 10px;
    font-size: 18px;
}

div.slider {
    margin-top: 5px;
    background-color: forestgreen;
    height: 10px;
    width: 10px;
}
div.plant-post-owner {
    align-self: flex-end;
    padding-right: 5px;
    font-size: 14px;
    font-weight: 200;
    font-variant-caps: all-small-caps;
    color: firebrick;
}

/* ADD NEW PLANT PAGE */








