<h1>Signup Here.</h1>
<form method="POST" action="/signup">
First: <input type="text" name="first_name">
Last: <input type="text" name="last_name">
Email: <input type="text" name="email">
Password: <input type="password" name="password">
<input type="submit" id="submit"> 
</form>