This is the Plant Index Page After Login.


<% Plant.all.each do |plant| %>
    <h4><%= plant.name %></h4>
    <p><%= plant.water %></p>
<% end %>

<%= current_user.email %>
L = Light
Sunny light areas: At least 4 hours of direct sun
High-light areas: Over 200 ft-c, but not direct sun
Medium-light areas: 75 ft-c to 200 ft-c
Low-light areas: 25 ft-c to 75 ft-c
T = Temperature
Cool: 50°F night, 65°F day temperatures
Average: 65°F night, 75°F day temperatures
Warm: 70°F night, 85°F day temperatures
H = Relative Humidity
High: 50% or higher
Average: 25% to 49%
Low: 5% to 24%
W = Watering
Keep soil mix moist
Surface of soil mix should dry before re-watering
Soil mix can become moderately dry before re-watering
S = Suggested Soil Mix
For specific ingredients, refer to the various growing mixes in “Soil/Growing Medium.” The soil mixes are keyed as follows:

Flowering house plants
Foliage plants
Bromeliads
Orchids
Succulents and cacti
Ferns
African violets and other Gesneriads