<h2>Let's insert a new plant to your garden, <%= current_user.first_name %></h2>


<form action="/plants" method="POST" id="new-plant">
    <h5>Name: <input name="name" type="text"></h5>
    <h5>Species: <input name="species" list="plant-species"></h5>
    
    <datalist id="plant-species">
        <option value='Abutilon hybridum'>
        <option value='Acalypha hispida'>
        <option value='Achimenes hybrids'>
        <option value='Acorus calamus'>
        <option value='Acorus gramineus'>
        <option value='Adiantum raddianum'>
        <option value='Adromischus cristatus'>
        <option value='Adromischus festivus'>
        <option value='Aechmea fasciata'>
        <option value='Aechmea miniata ‘Discolor’'>
        <option value='Aechmea ‘Royal Wine’'>
        <option value='Aeschynanthus marmoratus'>
        <option value='Aeschynanthus pulcher'>
        <option value='Agave Americana ‘Marginata’'>
        <option value='Agave victoriae-reginae'>
        <option value='Aglaonema modestum'>
        <option value='Aglaonema ‘Silver King’'>
        <option value='Aglaonema ‘Silver Queen’'>
        <option value='Allamanda cathartica'>
        <option value='Alloplectus nummularia'>
        <option value='Aloe aborescens'>
        <option value='Aloe barbadensis'>
        <option value='Aloe brevifolia'>
        <option value='Ananas comosus'>
        <option value='Anthurium clarinervium'>
        <option value='Anthurium hookeri'>
        <option value='Anthurium scherzeranum'>
        <option value='Aphelandra squarrosa'>
        <option value='Araucaria heterophylla'>
        <option value='Ardissa crenata'>
        <option value='Asparagus densiflorus ‘Myers’'>
        <option value='Asparagus densiflorus ‘Sprengeri’'>
        <option value='Asparagus falcatus'>
        <option value='Aspidistra elatior'>
        <option value='Asplenium daucifolium'>
        <option value='Asokebuyn budys'>
        <option value='Astrophytum myriostigma'>
        <option value='Beaucarnea recurvata'>
        <option value='Begonia cubensis'>
        <option value='Begonia metallica'>
        <option value='Begonia x rex-cultorum'>
        <option value='Begonia semperflorens'>
        <option value='Billbergia nutans'>
        <option value='Billbergia pyramidalis'>
        <option value='Billbergia zebrina'>
        <option value='Bougainvillea spp.'>
        <option value='Brassaia actinophylla'>
        <option value='Brassaia arboricola'>
        <option value='Caladium spp.'>
        <option value='Calathea insignis'>
        <option value='Calathea makoyana'>
        <option value='Calathea micans'>
        <option value='Calathea roseopicta'>
        <option value='Calceolaria crenatiflora'>
        <option value='Callisia elegans'>
        <option value='Carissa grandiflora ‘Bonsai’'>
        <option value='Carissa grandiflora ‘Boxwood Beauty’'>
        <option value='Caryota mitis'>
        <option value='Catharanthus roseus'>
        <option value='Cereus peruvianus'>
        <option value='Ceropegia woodii'>
        <option value='Chamaedorea elegans'>
        <option value='Chamaedorea erumpens'>
        <option value='Chamaerops humilis'>
        <option value='Chirita lavandulacea'>
        <option value='Chlorophytum comosum ‘Variegatum’'>
        <option value='Chlorophytum comosum ‘Vittatum’'>
        <option value='Chrysalidocarpus lutescens'>
        <option value='Chrysanthemum morifolium'>
        <option value='Cissus antarctica'>
        <option value='Cissus rhombifolia'>
        <option value='Cissus rotundifolia'>
        <option value='Cissus striata'>
        <option value='Citrofortunella mitis'>
        <option value='Clivia miniata ‘Grandiflora’'>
        <option value='Codiaeum variegatum'>
        <option value='Coffeaa arabica'>
        <option value='Coleus blumeri'>
        <option value='Colummea hybrids'>
        <option value='Cordyline terminalis'>
        <option value='Crassula argentea'>
        <option value='Crassula falcata'>
        <option value='Crassula hemisphaerica'>
        <option value='Crassula lycopodioides'>
        <option value='Crassula schmidtii'>
        <option value='Crassula teres'>
        <option value='Crossandra infundibuliformis'>
        <option value='Cryptanthus bivittatus ‘Minor’'>
        <option value='Cryptanthus fosteranus'>
        <option value='Cryptanthus zonatus'>
        <option value='Cyrtomium falcatum ‘Rochfordianum’'>
        <option value='Davallia fejeensis'>
        <option value='Dieffenbachia ‘Exotica Perfection’'>
        <option value='Dieffenbachia maculata'>
        <option value='Dizygotheca elegantissima'>
        <option value='Dracaena deremensis ‘Janet Craig’'>
        <option value='Dracaena deremensis ‘Warneckii’'>
        <option value='Dracaena fragrans ‘Massangeana’'>
        <option value='Dracaena marginata'>
        <option value='Dracaena surculosa'>
        <option value='Dyckia brevifolia'>
        <option value='Dyckia fosterana'>
        <option value='Echeveria agavoides'>
        <option value='Echeveria elegans'>
        <option value='Echinocereus reichenbachii'>
        <option value='Epidendrum atropurpureum'>
        <option value='Epiphyllum hybrids'>
        <option value='Epipremnum aureum'>
        <option value='Epipremnum aureum ‘Marble Queen’'>
        <option value='Episcia cupreata'>
        <option value='Episcia dianthiflora'>
        <option value='Episcia reptans'>
        <option value='Euphorbia coeralescens'>
        <option value='Euphorbia mammillaris'>
        <option value='Euphorbia milii splendens'>
        <option value='Euphorbia pulcherrima'>
        <option value='Euphorbia tirucalli'>
        <option value='Fatshedera lizei'>
        <option value='Fatsia japonica'>
        <option value='Ficus benjamina'>
        <option value='Ficus deltoidea'>
        <option value='Ficus elastica ‘Decora’'>
        <option value='Ficus lyrata'>
        <option value='Ficus pumila ‘Minima’'>
        <option value='Ficus retusa'>
        <option value='Ficus sagittata'>
        <option value='Ficus willdemaniana'>
        <option value='Fittonia verschaffeltii'>
        <option value='Fittonia verschaffeltii argyroneura'>
        <option value='Fuchsia hybrida'>
        <option value='Gasteria hybrida'>
        <option value='Graptopetalum amethystinum'>
        <option value='Guzmania lingulata ‘Major’'>
        <option value='Guzmania monostachia'>
        <option value='Gynura aurantiaca ‘Purple Passion’'>
        <option value='Haworthia cuspidata'>
        <option value='Haworthia fasciata'>
        <option value='Haworthia subfasciata'>
        <option value='Haworthia truncata'>
        <option value='Hedera canariensis'>
        <option value='Hedera helix'>
        <option value='Hemigraphis alternata'>
        <option value='Hibiscus rosa-sinensis'>
        <option value='Hippeastrum hybrids'>
        <option value='Howea belmoreana'>
        <option value='Howea forsterana'>
        <option value='Hoya carnosa ‘Variegata’'>
        <option value='Hoya kerrii'>
        <option value='Hyacinthus orientalis'>
        <option value='Impatiens wallerana ‘Variegata’'>
        <option value='Ixora coccinea'>
        <option value='Jatropha integerrima'>
        <option value='Justicia brandegeana'>
        <option value='Kalanchoe blossfeldiana'>
        <option value='Kalanchoe pumila'>
        <option value='Kalanchoe tomentosa'>
        <option value='Malvaviscus arboreus'>
        <option value='Mammillaria bocasana'>
        <option value='Manettia inflata'>
        <option value='Maranta leuconeura erythroneura'>
        <option value='Maranta leuconeura kerchoviana'>
        <option value='Mikania ternata'>
        <option value='Monstera deliciosa'>
        <option value='Monstera obliqua'>
        <option value='Nautilocalyx lynchii'>
        <option value='Neoregelia carolinae ‘Tricolor’'>
        <option value='Neoregelia spectabilis'>
        <option value='Neoregelia zonata'>
        <option value='Nephrolepis exaltata ‘Bostoniensis’'>
        <option value='Nephrolepis exaltata ‘Fluffy Ruffles’'>
        <option value='Nidularium innocentii nana'>
        <option value='Opuntia vilis'>
        <option value='Opuntia vulgaris'>
        <option value='Oxalis flava'>
        <option value='Oxalis rubra'>
        <option value='Pachyphytum oviferum'>
        <option value='Pachystachys lutea'>
        <option value='Paphiopedilum hybrids'>
        <option value='Pedilanthus tithymaloides ‘Variegatus’'>
        <option value='Pelargonium hortorum'>
        <option value='Pelargoniium peltatum'>
        <option value='Pellaea rotundifolia'>
        <option value='Pellionia pulchra'>
        <option value='Pentas lanceolata'>
        <option value='Peperomia caperata'>
        <option value='Peperomia crassifolia'>
        <option value='Peperomia obtusifolia'>
        <option value='Philodendron bipennifolium'>
        <option value='Philodendron ‘Emerald Queen’'>
        <option value='Philodendron ‘Florida’'>
        <option value='Philodendron scandens oxycardium'>
        <option value='Philodendron selloum'>
        <option value='Phoenix roebelenii'>
        <option value='Pilea cadierei'>
        <option value='Pilea microphylla'>
        <option value='Platycerium bifurcatum'>
        <option value='Plectranthus australis'>
        <option value='Plectranthus australis'>
        <option value='Podocarpus macrophyllus'>
        <option value='Polyscias balfouriana ‘Marginata’'>
        <option value='Polyscias fruticosa'>
        <option value='Rhapis excelsa'>
        <option value='Rhododendron hybrids'>
        <option value='Ruellia graeciznas'>
        <option value='Saintpaulia hybrids'>
        <option value='Sansevieria parva'>
        <option value='Sansevieria trifasciata ‘Hahnii’'>
        <option value='Sansevieria trifasciata ‘Laurentii’'>
        <option value='Saxifraga stolonifera'>
        <option value='Schlumbergera bridgesii'>
        <option value='Schlumbergera truncata'>
        <option value='Scindapsus pictus'>
        <option value='Sedum spectabile'>
        <option value='Sempervivum arachniodeum'>
        <option value='Setcreasea pallida ‘Purple Heart’'>
        <option value='Sinningia speciosa'>
        <option value='Soleirolia soleirolii'>
        <option value='Spathiphyllum ‘Clevelandii’'>
        <option value='Spathiphyllum ‘Mauna Loa’'>
        <option value='Stapelia nobilis'>
        <option value='Streptocarpus x hybridus'>
        <option value='Strobilanthes dyeranum'>
        <option value='Syngonium podophyllum'>
        <option value='Trillandsia bulbosa'>
        <option value='Tillandsia lindenii'>
        <option value='Tolmiea menziesii'>
        <option value='Tradescantia blossfeldiana'>
        <option value='Tradescantia sillamontana'>
        <option value='Vriesea splendens'>
        <option value='Yucca elephantipes'>
        <option value='Zebrina pendula'>
    </datalist>


    <h5>1<input type="radio" name="light" value=1></h5>
    <h5>1.5<input type="radio" name="light" value=1.5></h5>
    <h5>2<input type="radio" name="light" value=2></h5>
    <h5>2.5<input type="radio" name="light" value=2.5></h5>
    <h5>3<input type="radio" name="light" value=3></h5>
    <label for="light">Light</label>
    <h5>1<input type="radio" name="temperature" value=1></h5>
    <h5>1.5<input type="radio" name="temperature" value=1.5></h5>
    <h5>2<input type="radio" name="temperature" value=2></h5>
    <h5>2.5<input type="radio" name="temperature" value=2.5></h5>
    <h5>3<input type="radio" name="temperature" value=3></h5>
    <label for="light">Temperature</label>
    <h5>1<input type="radio" name="humidity" value=1></h5>
    <h5>1.5<input type="radio" name="humidity" value=1.5></h5>
    <h5>2<input type="radio" name="humidity" value=2></h5>
    <h5>2.5<input type="radio" name="humidity" value=2.5></h5>
    <h5>3<input type="radio" name="humidity" value=3></h5>
    <label for="light">Humidity</label>
    <h5>1<input type="radio" name="light" value=1></h5>
    <h5>1.5<input type="radio" name="light" value=1.5></h5>
    <h5>2<input type="radio" name="light" value=2></h5>
    <h5>2.5<input type="radio" name="light" value=2.5></h5>
    <h5>3<input type="radio" name="light" value=3></h5>
    <label for="light">Water</label><br>

    <input id="add-plant" value="ADD" type="submit">
</form>