Let's insert a new plant to your garden.

<%= current_user.email %>

<form method="POST" action="/plants">

<h5>Name: <input name="name" input="text"></h5>
<h5>Species: <input name="species" input="text"></h5>
<h5>Light: <input name="light" input="text"></h5>
<h5>Temperature: <input name="temperature" input="text"></h5>
<h5>Humidity: <input name="humidity" input="text"></h5>
<h5>Water: <input name="water" input="text"></h5>
<h5>Soil: <input name="soil" input="text"></h5>

<input type="submit">
</form>
