Let's insert a new plant to your garden.

<%= current_user.email %>

<form id="new-plant" method="POST" action="/plants">

<h5>Name: <input name="name" type="text"></h5>
<h5>Species: <input name="species" type="text"></h5>
<h5>Light: <input name="light" type="text"></h5>
<h5>Temperature: <input name="temperature" type="text"></h5>
<h5>Humidity: <input name="humidity" type="text"></h5>
<h5>Water: <input name="water" type="text"></h5>
<h5>Soil: <input name="soil" type="text"></h5>

<input type="submit">
</form>

